.gradle/
build/
jre/
jdk/
nssm-*.zip
bin/nssm.exe
*.class
*.log
logs/
KAIS_WORK/
conf/application.yml
workspace/kras/**/*.shp
workspace/kras/**/*.dbf
workspace/kras/**/*.shx
workspace/kras/**/*.prj
workspace/kras/**/*.fix
workspace/kras/**/*.txt
workspace/kras/**/*.gmx
workspace/kras/**/*.gmx_err
workspace/kras/**/*.json
.idea/
*.iml
